body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#login-container, #chat-container {
    text-align: center;
    margin-top: 50px;
}

#user-container p {
    font-weight: bold;
}

#chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
}

#message-container {
    margin-top: 10px;
}

input, button {
    margin-right: 5px;
}
